<div class="container">
  <h1>Detalles de {{user.username}}</h1>
  <hr>
  <p>Email: {{user.email}}</p>
  <img src="{{user.profileImg}}" alt="user image">
  <p>Rol: {{user.role}}</p>

  <hr>

  <a href="/user/list" class="btn btn-dark">Volver al listado</a>

  {{#if isADMIN}}
  <a href="/details/{{user._id}}/edit" class="btn btn-warning">Editar usuario </a>
  <form action="/details/{{user._id}}/delete" method="POST" style="display: inline">
    <input type="submit" value="Eliminar usuario" class="btn btn-danger">
  </form>

  <form action="/details/{{user._id}}/DEV" method="POST" style="display: inline">
    <input type="submit" value="Cambiar rol a Editor" class="btn btn-primary">
  </form>

  {{/if}}

  {{#if iscurrentUser}}
  <a href="/details/{{user._id}}/edit-me" class="btn btn-warning">Editar tus datos</a>
  {{/if}}


</div>