<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <h1>Editar evento</h1>
      <hr>

      <form action="/detalles-evento/{{event._id}}/editar" method="POST">

        <div class="mb-3 row">
          <div class="col">
            <label for="eventName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="eventName" name="eventName" value="{{event.eventName}}">
          </div>

          <div class="col">
            <label for="eventUrl" class="form-label">Enlace</label>
            <input type="text" class="form-control" id="eventUrl" name="eventUrl" value="{{event.eventUrl}}">
          </div>
        </div>

        <div class="col">
          <label for="category">Genero:</label>
          <select class="form-select" aria-label="Default select example" name="category" id="category">
            <option value="Hip-Hop/Rap">Hip-Hop/Rap</option>
            <option value="Rock">Rock</option>
            <option value="Dance/Electronic">Dance/Electronic</option>
            <option value="Pop">Pop</option>
            <option value="Other">Otro</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="eventImg" class="form-label">Imagen</label>
          <input type="url" class="form-control" id="eventImg" name="eventImg" value="{{event.eventImg}}">
        </div>

        <div class="mb-3">
          <label for="date" class="form-label">Fecha</label>
          <input type="date" class="form-control" id="date" name="date" value="{{event.date}}">
        </div>

        <div class="col">
          <label for="price" class="form-label">Precio</label>
          <input type="text" class="form-control" id="price" name="price" value="{{event.price}}">
        </div>

        <div class="col">
          <label for="city" class="form-label">Ciudad</label>
          <input type="text" class="form-control" id="city" name="city" value="{{event.city}}">
        </div>

        <div class="col">
          <label for="description" class="form-label">Descripcion</label>
          <input type="text" class="form-control" id="description" name="description" value="{{event.description}}">
        </div>


        <div class="d-grid gap-2 mt-4">
          <button type="submit" class="btn btn-dark block mb-5">Editar evento</button>
        </div>

        {{#if errorMessage}}
        <div id="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        {{/if}}

      </form>
    </div>
  </div>

</div>