<div class="container mt-5">
  <h1>{{event.eventName}}</h1>

  <hr>

  <div class="row">
    <div class=" col-lg-5">
      <img src="{{event.eventImg}}" alt="event img">
      <br>
      <a class="btn btn-dark mt-4 d-grid" href="{{event.eventUrl}}">Comprar Entradas</a>

      <form action="/detalles/{{event._id}}/favoritos" method="POST" style="display: inline" class=" d-grid">
        <input type="submit" value="Añadir a favoritos" class="btn btn-dark mt-4 d-grid">
      </form>
    </div>

    <div class=" col-lg-7">
      <h2>Precio de la entrada:</h2>
      <p class="DetailsText">{{event.price}}</p>
      <hr>
      <h2>Ciudad:</h2>
      <p class="DetailsText">{{event.city}}</p>
      <hr>
      <h2>Descripcion:</h2>
      <p class="DetailsText">{{event.description}}</p>
      <hr>
      <h2>Creado por:</h2>
      <p class="DetailsText">{{event.createdBy.username}}</p>
    </div>

  </div>
  <hr>

  <a href="/our-events/events-list" class="btn btn-dark mb-5">Volver</a>

  {{#if isADMIN}}
  <a href="/detalles-evento/{{event._id}}/editar" class="btn btn-dark mb-5">Editar</a>
  <form action="/detalles-evento/{{event._id}}/eliminar/" method="POST" style="display: inline">
    <input type="submit" value="Eliminar" class="btn btn-dark mb-5">
  </form>

  {{/if}}

  {{#if isEDITOR}}
  <a href="/detalles-evento/{{event._id}}/editar" class="btn btn-warning mb-5">Editar</a>
  <form action="/detalles-evento/{{event._id}}/eliminar/" method="POST" style="display: inline">
    <input type="submit" value="Eliminar" class="btn btn-danger">
  </form>

  {{/if}}



</div>